<!doctype html>
<html lang="=en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Lesson 3: Lists & Computed Properties</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgressAssignments.length">
            <h2 class="font-bold mb-2">In Progress</h2>
            <ul>
                <li 
                    v-for="assignment in inProgressAssignments" 
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }}
                        <input v-model="assignment.complete" type="checkbox">
                    </label>
                </li>
            </ul>
        </section>

        <section v-show="completedAssignments.length" class="mt-2">
            <h2 class="font-bold mb-2">Completed</h2>
            <ul>
                <li 
                    v-for="assignment in assignments.filter(a => a.complete)"
                >
                    <label>
                        {{ assignment.name }}
                        <input v-model="assignment.complete" type="checkbox">
                    </label>
                </li>
            </ul>
        </section>
    </div>


    <script>
        let app = {
            data () {
                return {
                    assignments: [
                        { name: "Finish project", complete: false, id: 1},
                        { name: "Read Chapter 8", complete: false, id: 2},
                        { name: "Submit homework", complete: false, id: 3},
                    ]
                }
            },
            computed: {
                
                inProgressAssignments() {
                    return this.assignments.filter(assignment => ! assignment.complete);
                },
                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.complete);
                }
            }
        }

        Vue.createApp(app).mount("#app");
    </script>
    
</body>
</html>